body {
    margin: 0px;
    height: 1000px;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 800px;
}

.companypic {
    float: left;
    display: block;
    width: 200px;
    margin-right: 2em;
    background-color: white;
}

.headermenu {
    padding: 0;
    min-width: 1100px;
    min-height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    z-index: 100;
    box-shadow: 0px -13px 20px 0px black;
}

.headermenu li {
    float: left;

}

a {
    font-weight: 1;
    font-size: 20px;
    
}

.headermenu li a {
    display: block;
    color: #06394d;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
}

.headermenu li a:hover {
    color: #06394dab;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.bigpic {
    height: 700px;
    position: relative;
    background-color: #c4dfea!important;
    display: flex;
    justify-content: center;

}

.bigpic img {
    margin-top: 50px;
    height: 600px;
}

.bigpictext{
    margin: auto 0px 100px 50px;
}

.bigpictext h1, .branches h1{
    color: #06394d;
    font-size: 60px;
}



.bigpictext p{
    font-size: 20px;
    max-width: 500px;
}

.bigpictext p:last-of-type{
    margin-bottom: 200px;
}

.bigpic a, .textcontainer a {
    text-decoration: none;
    color: #e89c00;

}

.buttonscon {
    display: flex;
}

.bigpic a.button {
    padding: 10px;
    border-color: #06394d;
    border-width: 3px;
    border-style: solid;
    color: white;
    background-color: #06394d;
    font-weight: 00;
}

.bigpic a.button:last-of-type {
    margin-left: 10px;
    background-color: inherit;
    color: #06394d;
}

.branches {
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    margin: 0px 50px;
}

.branches ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.branches h1 {
    font-size: 40px;
}

.branches ul {
    margin: 0 auto;
    min-width: 1000px;
}
.branches li {
    height: 130px;
    float: left;
}

.branches h1, .branches p {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.branches p{
    margin-top: 0;
}
.branches a {
    height: 0;
}

.textcontainer {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    min-width: 1000px;
}

.textcontainer article {
    margin-top: 1em;
    margin-left: 1em;
}
.textcontainer div{
    margin-left: 10px;
    margin-right: 10px;

}

.textcontainer h1 {
    color: #76716b;
    margin-top: 0;
}

.textcontainer h5 {
    color: #76716b;
    margin: 0;
}

.textcontainer img {
    width: 150px;
    object-fit: cover;
}

.l2 {
    display: flex;

}

.l1 {
    max-width: 700px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

.r1 {
    max-width: 300px;
}

.l1flex {
    display: flex;
    
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

p {
    line-height: 1.3em;
}