body {
    margin: 0px;
    height: 1000px;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 800px;
}

.companypic {
    float: left;
    display: block;
    width: 200px;
    margin-right: 2em;
    background-color: white;
}

.headermenu {
    padding: 0;
    min-width: 1100px;
    min-height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    z-index: 100;
    box-shadow: 0px -13px 20px 0px black;
}

.headermenu li {
    float: left;

}

a {
    font-weight: 1;
    font-size: 20px;
    
}

.headermenu li a {
    display: block;
    color: #06394d;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
}

.headermenu li a:hover {
    color: #06394dab;
}

main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.bigpic {
    height: 70vh;
    position: relative;
    background-color: #c4dfea!important;
    display: flex;
    justify-content: center;

}

.bigpic img {
    height: auto;
    width: 40%;
    object-fit: contain;
    max-width: 500px;
    min-width: 421px;
}

.bigpictext{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr auto;
    margin: 0 0 5rem 5rem;
}

.bigpictext h1, .branches h1{
    color: #06394d;
    font-size: 60px;
}

.bigpictext p{
    font-size: 20px;
    max-width: 500px;
}

.bigpictext ul{
    margin-bottom: auto;
}

.bigpic a, .textcontainer a {
    text-decoration: none;
    color: #e89c00;

}

.buttonscon {
    display: flex;
}

.bigpic a.button {
    padding: 10px;
    border-color: #06394d;
    border-width: 3px;
    border-style: solid;
    color: white;
    background-color: #06394d;
    font-weight: 00;
}

.bigpic a.button:last-of-type {
    margin-left: 10px;
    background-color: inherit;
    color: #06394d;
}

.textcontainer {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    min-width: 1000px;
}

.textcontainer article {
    padding: 1em;
}
.textcontainer .l1flex div{
    margin-left: 10px;
    margin-right: 10px;

}

.textcontainer h1 {
    color: #76716b;
    margin-top: 0;
}

.textcontainer h5 {
    color: #76716b;
    margin: 0;
}

.textcontainer img {
    width: 150px;
    object-fit: cover;
    padding: 0em 0em 1em 0em;
}

.l2 {
    display: flex
}

.l1 {
    max-width: 700px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding-right: 1em;
    margin-left: none;
}

.r1 {
    max-width: 300px;
}

.l1flex {
    display: flex;
    
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 1em;
}

.l2 article:first-child{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

p {
    line-height: 1.3em;
}